@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome Admin!</h1>

<div class="container">
    <p class="accordion-body">Welcome!</p>
    <p class="accordion-body">Before continuing for further access, please <a href="login">Login</a></p>
</div>


